.bg-aqua {
    background-color: #b9b7b1;
}

.p1 {
    color: black;
    font-family: Tahoma, Verdana, sans-serif;
    }


.p2 {
  font-family: "Lucida Console", "Courier New", monospace;
}

.body {
    font-family: Verdana, sans-serif;
    font-size: 16px;
  }
  

.h1 {
    font-family: Georgia, serif;
    font-size: 46px;  
  }